/.idea/
/.run/

/.logs/
*.log

/checkpoints/
/wandb/
/output/
/xai_output_unix/
/xai_output_windows/

**/*__pycache__/
*pycharm-support-libs/
.ipynb_checkpoints/

/slurm_ncc/*_temp.batch
/memory_dumps

/inconsistent_platform_behaviour/*.pt
/inconsistent_platform_behaviour/*.npz
